/* Google font */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  overflow-x: hidden !important; 
  font-family: 'Poppins', sans-serif;
}


/*////////////////////NAVBAR///////////////////*/
.navbar {
  box-shadow: 2px 2px 5px #9e1818;
  opacity: 0.9;
  background: #000; 
}

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem; 
}


/*////////////////////SHOWCASE///////////////////*/
.carousel-item {
  height: 630px;
}

.carousel-image-1 {
  background: url('../img/background1.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: url('../img/background2.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-image-3 {
  background: url('../img/background3.jpg');
  background-size: cover;
  background-position: center;
}

#showcase {
  box-shadow: 2px 2px 5px #9e1818;
  min-height: 630px; 
}

#showcase .primary-overlay {
  background: rgba(158, 24, 24, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.next-prev-buttons {
  width: 40px;
  height: 40px;
}

.showcase-text {
  margin-bottom: 130px;
  /* padding-bottom: 10px; */
  /* background: rgba(0, 0, 0, 0.4); */
  /* border-radius: 8px; */
}

.showcase-text h1, .showcase-text p {
  text-shadow: 0px 0px 5px #000;
}

#showcase .showcase-link {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

#showcase .showcase-link:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}


/*////////////////////OVERLAY IMAGE///////////////////*/
#home-overlay {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  /* box-shadow: 0 0 10px #9e1818; */
}

#home-overlay h1{
  text-shadow: 3px 3px 5px #000;
}

#home-overlay p {
  text-shadow: 3px 3px 5px #000;
}

.dark-overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(158, 24, 24, 0.2);
}


/*////////////////////MODELS///////////////////*/

/* Hidden line for some space between */
.hidden-line {
  width: 0% !important;
}

.xCars img {
  margin-top: -100px; 
}

.xCars a {
  color: #000;
}

.xCars a:hover {
  background: #9e1818;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.xCars .card:hover {
  background: #9e1818;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.xCars .fab {
  color: #000; 
}

.xCars .fab:hover {
  color: #fff; 
}


/*////////////////////VIDEO////////////////////*/
#home-video-overlay {
  position: relative;
  min-height: 200px;
  background: url('../img/garage.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  /* box-shadow: 0 0 10px #9e1818; */
  margin-top: 50px;
}

.dark-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(158, 24, 24, 0.2);
}

#home-video-overlay h1 {
  text-shadow: 3px 3px 5px #000;
}

#home-video-overlay a {
  color: #fff;
}


/*////////////////////FOOTER///////////////////*/
.photo-gallery {
  font-family: 'Poppins', sans-serif;
}

/*////////////////////FOOTER///////////////////*/
#main-footer {
  background: #000;
  color: #fff;
  /* margin-top: 100px; */
  box-shadow: -2px -2px 5px #9e1818;
}
